.filter-block {
    &:not(:last-child) {
        margin-bottom: var(--s-sp);
    }
}

.filter-title {
    margin-left: var(--xs-sp);
    margin-bottom: var(--xs-sp);
}

.filter-option {

}

.filter-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
